.App-error-boundry {
  background-color: #a8071a;
	min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.glitch-error {
	color: white;
	text-transform: upercase;
	position: relative;
	display: inline-block;
}

.glitch-error::before,
.glitch-error::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:#a8071a;
}

.glitch-error::before {
	left: 2px;
	text-shadow: -2px 0 #61dafb;
	clip: rect(24px, 550px, 90px, 0);
	animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

.glitch-error::after {
	left: -2px;
	text-shadow: -2px 0 #b300fc;
	clip: rect(85px, 550px, 140px, 0);
	animation: glitch-anim 2.5s infinite linear alternate-reverse;
}