.App-header {
  height: 100vh;
  width: 100vw;
	overflow: hidden;
	background: linear-gradient(90deg, rgba(47,54,64,1) 23%, rgba(24,27,32,1) 100%);
	text-align: center;
	color: var(--text-color);
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.button {
	border: none;
	background-color: var(--primary);
	font-size: 1.4rem;
	padding: 14px;
	border-radius: 4px;
	color: var(--text-color);
	margin-top: 30px;
	margin-bottom: 30px;
}

.button:hover {
	background-color: var(--primary-dark);
}

a {
	color: var(--primary);
}

a:hover {
	color: var(--primary-dark);
}